.nav-pills {
    // Tabs Links
    .nav-link {
        background-color: var(--btn-secondary-background) !important;
        color: var(--btn-secondary-color) !important;
        border-radius: var(--border-radius);
    }
    // Active Tag
    .active {
        background-color: #dadada !important;
        color: #000 !important;
    }
}

.input-group {
    input{
        width: calc(100% - 45px) !important;
    }
    .input-group-prepend {
        width: 45px;
        .input-group-text {
            width: 100%;
            text-align: center !important;
            display: block;
        }
    }
}




#form-store-title-desc {
    .parent-slider-title-desc-row {
        &:last-of-type hr {
            border-top: none !important;
        }
    }
}
